In [2]:
import numpy as np
import pandas as pd

In [3]:
total = pd.read_csv("https://raw.githubusercontent.com/datzxje/ML_Project/main/data/saved/merged_data.csv")
total['Date'] = pd.to_datetime(total['Date'])

df = total.set_index('Date')
df.head()

,gold_open,gold_high,gold_low,gold_close,copper,crude_oil,DXY,EURUSD,MSCI,NASDAQ,NLR,platinum,RUT,silver,SP500,VIX
Date,,,,,,,,,,,,,,,,
2024-05-20,2422.2,2454.2,2411.1,2438.5,5.0790,79.30,104.57,1.0857,512.26,16794.87,88.50,1063.7,2102.50,32.426,5308.13,12.15
2024-05-17,2381.4,2427.4,2377.8,2417.4,5.0500,79.58,104.45,1.0871,505.33,16685.97,87.39,1090.0,2095.72,31.259,5303.27,11.99
2024-05-16,2391.5,2402.7,2375.2,2385.5,4.8770,79.23,104.46,1.0869,497.51,16698.32,85.22,1071.3,2096.25,29.876,5297.10,12.42
2024-05-15,2362.9,2396.1,2357.1,2394.9,4.9245,78.63,104.35,1.0885,490.06,16742.39,85.26,1070.1,2109.46,29.729,5308.15,12.45
2024-05-14,2342.3,2365.2,2340.5,2359.9,4.8950,78.02,105.01,1.0820,488.11,16511.18,84.06,1044.6,2085.69,28.702,5246.68,13.42

In [4]:
df.shape

(251, 16)